In [3]:
# Question 1
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
ab = pd.read_csv(url, encoding='UTF-8')
ab

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...,...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [5]:
print(df.isna().sum())

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [8]:
# Question 2

import pandas as pd

url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
villagers_df = pd.read_csv(url)

villagers_df.shape

# Observations: 
# an observation is a single row in a dataset. In my dataset the obseravations are single villagers from Animal Crossing.

# Variables:
# varibles are the single columns in a dataset. In my dataset the variables are the different characteristics of each villager.

(391, 11)

In [20]:
# Question 3

#Name
df['name'].value_counts()

name
Admiral    1
Muffy      1
Paula      1
Patty      1
Pate       1
          ..
Elvis      1
Eloise     1
Elmer      1
Ellie      1
Zucker     1
Name: count, Length: 391, dtype: int64

In [21]:
#Species
df['species'].value_counts()

species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

In [22]:
#Personality 
df['personality'].value_counts()

personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [27]:
#Birthday 
df['birthday'].describe()

count      391
unique     361
top       1-27
freq         2
Name: birthday, dtype: object

In [24]:
#Gender
df['gender'].value_counts()

gender
male      204
female    187
Name: count, dtype: int64

In [37]:
# Question 4

df.shape
# There are 391 rows and 11 columns

(391, 11)

In [45]:
df.describe()
# Count shows that the total number of rows is 391

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [46]:
# Running this shows that the rows in the df.shape and df.describe() method are the same

In [47]:
# Question 5

# Attributes: 
# Attributes are variables that belong to an object. They do not need brackets because they return the value they store.

# Methods 
# Mrthods are functions that belong to an object. They use brackets because they could make arguments and perform some operation or computation.

In [57]:
# My Chatbot Sessions for Questions 1-5:
# https://chatgpt.com/share/2cfeb6de-0b84-407f-aa14-b08c79a11240
# https://chatgpt.com/share/c53a33c3-72d6-45a6-919f-d76bcb0508f6

In [60]:
# Question 6

# Count:
# The number of non-null entries in the column.

# Mean:
# The average of the data set.

# STD (Standard Deviation):
# A measure of how far away the values are from the mean.

# Min:
# The smallest value in the column.

# 25%:
# The first quartile is the value below which 25% of the data falls.

# 50%:
# The median is the middle value of the dataset when it is ordered.

# 75%:
# The third quartile is the value below which 75% of the data falls.

# Max:
# The largest value in the column.

# My Chatbot Session 
# https://chatgpt.com/share/db9bace6-882c-4218-ac64-00f37520bd9c

In [13]:
# Question 7

# 1:
# df.dropna can be used if one is working with a dataset where there is a lot of missing data across different columns in multiple rows. Rather deleting columns, it is easier to remove rows with the missing data.

#2:
# del df['col'] can be used if one column has too many missing values in it and one wants to delete it as it would not prov ide any useful information.

#3:
# Using del df['col'] before df.dropna might be preferred to avoid getting rid of important rows of data.

#4:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
print("Shape before cleaning:", df.shape)

Shape before cleaning: (391, 11)

In [11]:
missing_values = df.isna().sum()
print(missing_values)
if 'song' in df.columns:
    del df['song']
df_cleaned = df.dropna()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [12]:
print("Shape after cleaning:", df_cleaned.shape)

Shape after cleaning: (390, 10)

In [14]:
# I chose to delete the "song" column and a row with missing data because the column and row both contain a lot of missing values, and is not important for my dataset.

In [17]:
# Question 8

#1.
# df.groupby("col1"): groups the DataFrame by values in col1.
# ["col2"]: selects the col2 column from each group for further analysis.
# .describe(): generates a summary statistics (count, mean, std, min, 25%, 50%, 75%, max) for each group in col1 based on the values in col2.

#2.
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.head()
df.describe()
grouped_stats = df.groupby("species")["birthday"].describe()
print(grouped_stats)

          count unique    top freq
species
alligator     7      7    6-9    1
anteater      7      7   2-16    1
bear         15     15   9-27    1
bird         13     13   1-27    1
bull          6      6   4-30    1
cat          23     23   9-22    1
chicken       9      9   4-28    1
cow           4      4   2-28    1
cub          16     16    3-2    1
deer         10     10   11-7    1
dog          16     16  10-15    1
duck         17     17    2-1    1
eagle         9      9  11-19    1
elephant     11     11   3-23    1
frog         18     18    6-5    1
goat          8      8   3-25    1
gorilla       9      9  10-18    1
hamster       8      8   9-24    1
hippo         7      7   4-25    1
horse        15     15   12-2    1
kangaroo      8      8    9-8    1
koala         9      9   8-19    1
lion          7      7    8-8    1
monkey        8      8   5-24    1
mouse        15     15   2-24    1
octopus       3      3   6-26    1
ostrich      10     10  12-21    1
penguin      13     13   1-27    1
pig          15     14    9-3    2
rabbit       20     20    3-3    1
rhino         6      6   3-20    1
sheep        13     13   3-28    1
squirrel     18     18    7-2    1
tiger         7      7   8-27    1
wolf         11     11   8-31    1

In [1]:
#3.

#A

url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
ab = pd.read_csv(url, encoding='UTF-8')
ab

NameError: name 'pd' is not defined

In [ ]:
# Chatbot Session
# https://chatgpt.com/share/1311fd3c-85c4-4433-b456-a6d09468667a

In [2]:
#B

import pandas as pd

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanics.csv"
ab = pd.read_csv(url, encoding='UTF-8')
ab

HTTPError: HTTP Error 404: Not Found

In [3]:
# C

DF.groupby("col1")["col2"].describe()

NameError: name 'DF' is not defined

In [6]:
#D
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
ab = pd.read_csv(url, encoding='UTF-8'
ab

SyntaxError: '(' was never closed (3179171955.py, line 3)

In [12]:
# E 
df.group_by("col1")["col2"].describe()

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [11]:
#F

import pandas as pd

url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
grouped_stats = df.groupby("Species")["birthday"].describe()
print(grouped_stats)

KeyError: 'Species'

In [13]:
# G

url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
grouped_stats = df.groupby(species)["birthday"].describe()
print(grouped_stats)

NameError: name 'species' is not defined

In [14]:
# My Chatbot Session
# https://chatgpt.com/share/f94c0c65-c5c9-4c7f-a246-f36ed4e9899b
# I found the chatbot sessions easier to find the solutions than searching on the internet.

In [15]:
# 9
# Yes